/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
  transition: 0.2s all;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}



/* Common style */


/* Colors */
:root {
    --primary: #275DF0;
    --accent: #42D7A5;
    --dark: #353C42;
    --secondary: #FFFFFF;
    --partly: #E4E9F3;
    --success: #339900;
    --warn: #ffcc00;
    --error: #cc3300;
}


/* Loading */
.loader {
  display: none;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 99999999999;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.6;
}

.loader .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.loader .loading:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid var(--primary);
  border-right: 3px solid var(--primary);
  border-radius: 50%;
  animation:animateLoadingC 2s linear infinite;
}

.loader .loading span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background:transparent;
  transform-origin: left;
  animation: animateLoading 2s linear infinite;
}

.loader .loading span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--primary);
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px var(--primary);
}

@keyframes animateLoadingC {
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}

@keyframes animateLoading {
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}





/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap');
body {
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
}

/* Styles */
body {
    background-color: var(--partly);
}

.container {
    margin-left: 300px;
    padding: 25px;
}

@media (max-width: 992px) {
    .container {
        margin-top: 90px;
        margin-left: 0;
    }
}

.warn { 
    color: var(--warn);
}

.success {
    color: var(--success);
}

.error {
    color: var(--error);
}

a:hover {
    opacity: 70%;
    transition: 0.3s all;
}

a {
    cursor: pointer;
}

.alert_box {
    display: none;
    position: fixed;
    bottom: 0;
    right: 10%;
    z-index: 99999999999;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    font-weight: 600;
    border-radius: 5px;
}

.title {
    font-size: 32px;
    line-height: 27px;
    color: var(--dark);
    font-weight: 800;
}

.desc {
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
  color: var(--dark);
  opacity: 80%;
}

.btn {
    background: var(--primary);
    width: fit-content;
    color: var(--secondary);
    padding: 10px 20px;
    transition: 0.3s all;
}

.btn:hover {
    opacity: 70%;
}

.hidden {
    display: none;
}

.readonly {
  cursor: not-allowed;
  opacity: 0.7;
}

.row {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.log-checkbox {
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: var(--primary);
}


.columns {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.columns .columns__box {
  width: 100%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--secondary);
}

.columns .columns__title {
  font-size: 22px;
  font-weight: 600;
  color: var(--dark);
}

.columns .columns__link {
  color: var(--secondary);
  background: var(--primary);
  padding: 9px 20px;
  width: fit-content;
}

.columns .columns__desc {
  color: var(--dark);
  opacity: 0.8;
}

.columns .columns__circle {
  display: flex;
  color: var(--secondary);
  min-width: 50px;
  max-width: 50px;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary);
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: auto 0;
}

.columns .columns__date {
  color: var(--primary);
  font-weight: 800;
}

.columns .columns__date i {
  margin-right: 10px;
}

@media (max-width: 576px) {
  .columns .columns__box {
    padding: 6px 0px;
  }

  .row {
    flex-wrap: wrap;
  }
}



.form-input, .form-textarea {
  border-bottom: 1px solid var(--primary);
  padding: 10px 5px;
  width: 100%;
  resize: vertical;
  gap: 10px;
  margin-top: 10px;
}

.form-btn {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
  padding: 13px;
  width: 210px;
  display: flex !important;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-btn:hover {
  color: var(--dark);
  background: none;
}