/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}



/* Common style */


/* Colors */
:root {
    --primary: #275DF0;
    --accent: #42D7A5;
    --dark: #353C42;
    --secondary: #FFFFFF;
    --partly: #E4E9F3;
    --success: #339900;
    --warn: #ffcc00;
    --error: #cc3300;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;800&display=swap');
body {
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
}

/* Styles */
body {
    background-color: var(--partly);
}

.container {
    margin-left: 300px;
    padding: 25px;
}

@media (max-width: 992px) {
    .container {
        margin-top: 90px;
        margin-left: 0;
    }
}

.warn { 
    color: var(--warn);
}

.success {
    color: var(--success);
}

.error {
    color: var(--error);
}

a:hover {
    opacity: 70%;
    transition: 0.3s all;
}


.alert_box {
    display: none;
    position: fixed;
    bottom: 0;
    right: 10%;
    z-index: 99999999999;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    font-weight: 600;
    border-radius: 5px;
}

.title {
    font-size: 32px;
    line-height: 27px;
    color: var(--dark);
}

.desc {
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
  color: var(--dark);
  opacity: 80%;
}

.btn {
    background: var(--primary);
    width: fit-content;
    color: var(--secondary);
    padding: 10px 20px;
    transition: 0.3s all;
}

.btn:hover {
    opacity: 70%;
}

.hidden {
    display: none;
}








